<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="lastname">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastname">
        <br/>
        <label for="age">Enter age:</label>
        <input type="number" th:field="*{age}" id="age">
        <br/>
        <label for="password">Enter password:</label>
        <input type="text" th:field="*{password}" id="password">
        <br/>
        <input type="submit" value="Sign up"/>
    </form>
</body>
</html>