<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age">
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>