<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{user.name}" id="name">
    <br/>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{user.lastName}" id="lastName">
    <br/>
    <label for="age">Age:</label>
    <input type="number" th:field="*{user.age}" id="age">
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{user.password}" id="password">
    <br/>
    <label for="roles">Role:</label>
    <select id="roles" th:field="*{user.roles}">
        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <br/>
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>
