<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age"/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
<!--    <input type="hidden" th:field="*{roles}">-->
    <input type="submit" value="Update"/>
</form>
</body>
</html>