<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age"/>
    <input type="hidden" th:field="*{password}"/>
    <label for="role">Role:</label>
    <select id="role" th:field="*{roles}">
        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <input type="submit" value="Update"/>
</form>
</body>
</html>