<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <table>
        <tbody>
        <th:block th:object="${user}">
            <td th:text="${user.name}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.age}"/>
        </th:block>
        </tbody>
    </table>
<br/>
<a th:href="@{/logout}">
    <input type="submit" value="Logout">
</a>
</body>
</html>